doctype html
html(lang="en")
  head
    title Temperature info
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    .
      <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis-timeline-graph2d.min.js" integrity="sha256-v9Qo6pYzFF2g0RUa5jlrK3HO2YfYXnj5aXQzPJJ46wY=" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis-timeline-graph2d.min.css" integrity="sha256-ttXXbnaumOzkd0djY9bs4c5n86l4gmYrYo6BBUl6YPA=" crossorigin="anonymous" />

  body
    .navbar.navbar-default
      .container
        .navbar-header
          .navbar-brand Temperatures

    .container
      block content
